
# eclipse stuff
.settings
.project
.classpath

# intellij idea stuff
.idea

# local gradle stuff
.gradle

# build artifacts
[Bb]uild/**
[Bb]in/**
[Tt]arget/**
[Oo]ut/**

# folders
/tmp

# file types
*.lnk
*.log
/build/
